
<div class="row">
    <div class="col-md-4">
        <h2>Search</h2>
        <form action="<%= searches_url %>" method="get">
            <input type="text" name="search[query]" value="" id="" placeholder="Title">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <input class="flex" type="submit" value="Search">
        </form>     

        <a class="flex" href="<%= new_book_url %>">Add New Book</a> <br>  
        <a class="flex" href="/users/favorites">View Favorite Books</a>
    </div>

    <ul class="col-md-8">
    <h1>All Books</h1>

    <% @books.each {|book| %>
        <li>
            <b>Title:</b> <%= book.title %>  <br>
            <b>Author:</b> <%= book.author %> <br>
            <b>Genre:</b> <%= book.genre %> <br>

            <form action="<%= favorites_url %>" method="post">
                <input type="hidden" name="favorite[book]" value="<%=book.id%>" id="">
                <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                <input type="submit" value="Favorite">
            </form>     
            <a class="flex" href="<%= book_url(book) %>">View Book </a>
            <br><br><br>    
        </li>
    <% } %>
    </ul>
</div>
