<h1>All Books</h1>

<form action="<%= searches_url %>" method="get">
    <input type="text" name="search[query]" value="" id="">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="submit" value="Search by Title">
</form>     

<a href="<%= new_book_url %>">Upload New Book</a> <br>  
<a href="/users/favorites">View Favorite Books</a>

<ul>
<% @books.each {|book| %>
    <li>
        Title: <%= book.title %>  <br>
        Author: <%= book.author %> <br>

        <form action="<%= favorites_url %>" method="post">
            <input type="hidden" name="favorite[book]" value="<%=book.id%>" id="">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <input type="submit" value="Favorite">
        </form>     
        <a href="<%= book_url(book) %>">View Book </a>
        <br><br><br>    
    </li>
<% } %>
</ul>
