<h1><%= @book.title %></h1>

Author: <%= @book.author %> <br>
Genre: <%= @book.genre %> <br>

<h3>Your Notes:</h3>
<ul>
<% @notes.each{|note| %>
    <li>
    <%= note.body %>
    <a class="flex" href="<%= edit_note_url(note) %>">Edit</a>
    
    <form action="<%= note_url(note) %>" method="post">
        <input type="hidden" name="_method" value="delete">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="submit" value="Remove Note">
    </form>
    </li>
<% } %>
</ul>


<form action="<%= notes_url %>" method="post">
  
  <label for="body"></label>
  <input type="text" name="note[body]" value="" id="body">
  <input type="hidden" name="note[book]" value="<%=@book.id%>" id="">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="submit" value="Create New Note">
</form>