<h1>Search Results</h1>
<ul>
<% @books.each {|book| %>
    <li>
        Title: <%= book.title %>  <br>
        Author: <%= book.author %> <br>
        Genre: <%= book.genre %> <br>

        <form action="<%= favorites_url %>" method="post">
            <input type="hidden" name="favorite[book]" value="<%=book.id%>" id="">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <input type="submit" value="Favorite">
        </form>     
        <a href="<%= book_url(book) %>">View Book </a>
        <br><br><br>    
    </li>
<% } %>
</ul>
