<!DOCTYPE html>
<html>
  <head>
    <title>BookClub</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h2>Book Club</h1>
    <% if logged_in? %>
      Current User:
      <%= current_user.username %>

      <form action="<%= session_url %>" method="post">
        <input type="hidden" name="authenticity_token" value="form_authenticity_token">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value="Sign Out">
      </form>
    <% else %>
      <a href="<%= new_session_url %>">Log In</a>
      <a href="<%= new_user_url %>">Register</a>
    <% end %>
    <%= flash[:errors] if flash[:errors] %>
    <a href="<%= books_url %>">Home Page</a>

    <%= yield %>
  </body>
</html>
