<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="logo">
      <h2>Book Club</h1>&nbsp;&nbsp;
      <i class="fas fa-book-reader"></i>
    </div>
    <% if logged_in? %>
      Current User:
      <%= current_user.username %>

      <form action="<%= session_url %>" method="post">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="hidden" name="_method" value="delete">
        <input class="flex" type="submit" value="Sign Out">
      </form>
    <% else %>
      <a class="flex" href="<%= new_session_url %>">Log In</a>
      <a class="flex" href="<%= new_user_url %>">Register</a>
    <% end %>
    <%= flash[:errors] if flash[:errors] %>
    <a class="flex" href="<%= books_url %>">Home Page</a>
    <div class="container-fluid">
    <%= yield %>
    </div>
  </body>
</html>
